.NavbarItem{
    width:fit-content;
    text-align: center;
    font-size: 1.9rem;

    border: 2px solid black;
    border-radius: 8px;
    padding: 3px 6px;
}

.NavbarItem.selected{
    background-color: yellow;
}