.CompLib-Badge{
    min-width: 67px;
    width: fit-content;
    height: 24px;
    padding: 2px 12px;

    font-family: "Inter";
    font-weight: 500;
    font-size: 1.1em;
    text-align: center;

    border-radius: 4px;
}

.CompLib-Badge.pill{
    border-radius: 12px;
}

.CompLib-Badge.red{
    color: #991B1B;
    background-color:#FEE2E2 ;    
}
.CompLib-Badge.green{
    color: #065F46;
    background-color:#D1FAE5 ;    
}
.CompLib-Badge.yellow{
    color: #92400E;
    background-color: #FEF3C7;    
}
.CompLib-Badge.gray{
    color: #1F2937;
    background-color: #F3F4F6;    
}
.CompLib-Badge.blue{
    color: #1E40AF;
    background-color: #DBEAFE;    
}
.CompLib-Badge.indigo{
    color: #3730A3;
    background-color: #E0E7FF;    
}
.CompLib-Badge.purple{
    color: #5B21B6;
    background-color: #EDE9FE;    
}
.CompLib-Badge.pink{
    color: #9D174D;
    background-color: #FCE7F3;    
}
/* Banner*/
.CompLib-Banner{
    font-family: "Inter";
    font-size: 1em;
    font-weight: 400;

    width: 896px;
    padding:16px;
    border-radius: 6px;
    gap:12px;

    display: flex;
    flex-direction: row;
}

.CompLib-Banner .msg-container{
    gap:8px;
}

.CompLib-Banner .header{
    font-weight: 500;
}

.CompLib-Banner.success{
    color: #065F46;
    background-color:#ECFDF5 ;  
}
.CompLib-Banner.success .header{
    color: #047857;
}

.CompLib-Banner.warning{
    color: #B45309;
    background-color: #FFFBEB;
}
.CompLib-Banner.warning .header{
    color: #92400E;
}

.CompLib-Banner.error{
    color: #B45309;
    background-color: #FEF2F2;
}
.CompLib-Banner.error .header{
    color: #92400E;
}

.CompLib-Banner.info{
    color: #1C51B9;
    background-color: #EFF6FF;
}
.CompLib-Banner.info .header{
    color: #1E40AF;
}

/* Tooltip */

.CompLib-Tooltip{
    font-family: "Inter";
    font-size: 1em;
    font-weight: 400;

    width:384px;
    height: 70px;
    border-radius: 8px;
    padding:16px;
    gap:16px  !important;

    position:relative;

    box-shadow: 0px 4px 6px -2px #0000000D;

    box-shadow: 0px 10px 15px -3px #0000001A;

}
.CompLib-Tooltip::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 96px;
    top: 92px;
    width: 20px;
    height: 20px;
 
    background-color: inherit;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
    

.CompLib-Tooltip .icon, .CompLib-Tooltip .iconX ,.CompLib-Tooltip .msg-container{
    align-self: flex-start;
}
.CompLib-Tooltip .header{
    font-weight: 500;
}
.CompLib-Tooltip .iconX{
    cursor:grab;
}
.CompLib-Tooltip .msg-container{
    min-width: 306px;
}


.CompLib-Tooltip.bold.black{
    background-color: #262626;
    color: #C7C7C7;
}
.CompLib-Tooltip.bold.black .header{
    color: #FFFFFF;
}
.CompLib-Tooltip.bold.black .icon{
    stroke: #C7C7C7;
}
.CompLib-Tooltip.bold.black .iconX{
    fill: #C7C7C7;
}

.CompLib-Tooltip.bold.blue{
    background-color: #1E40AF;
    color: #E8EDFF;
}
.CompLib-Tooltip.bold.blue .header{
    color: #FFFFFF;
}
.CompLib-Tooltip.bold.blue .icon{
    stroke: #7EA6F2;
}
.CompLib-Tooltip.bold.blue .iconX{
    fill: #D8D8D8;
}

.CompLib-Tooltip.bold.pink{
    background-color: #A9229B;
    color: #FFE9FD;
}
.CompLib-Tooltip.bold.pink .header{
    color: #FFFFFF;
}
.CompLib-Tooltip.bold.pink .icon{
    stroke: #F462E6;
}
.CompLib-Tooltip.bold.pink .iconX{
    fill:  #D8D8D8;
}

.CompLib-Tooltip.bold.green{
    background-color: #47AA5D;
    color: #E3FFE9;
}
.CompLib-Tooltip.bold.green .header{
    color: #FFFFFF;
}
.CompLib-Tooltip.bold.green .icon{
    stroke: #C1FFCF;
}
.CompLib-Tooltip.bold.green .iconX{
    fill: #D8D8D8;
}

.CompLib-Tooltip.light.black{
    background-color: #FFFFFF;
    color: #6B7280;
}
.CompLib-Tooltip.light.black .header{
    color: #111827;
}
.CompLib-Tooltip.light.black .icon{
    stroke: #6B7280;
}
.CompLib-Tooltip.light.black .iconX{
    fill: #6B7280;
}

.CompLib-Tooltip.light.blue{
    background-color: #E0E7FF;
    color: #1C51B9;
}
.CompLib-Tooltip.light.blue .header{
    color: #1E40AF;
}
.CompLib-Tooltip.light.blue .icon{
    stroke: #1C51B9;
}
.CompLib-Tooltip.light.blue .iconX{
    fill: #1C51B9;
}

.CompLib-Tooltip.light.pink{
    background-color:#FFF3FC ;
    color: #C7369E;
}
.CompLib-Tooltip.light.pink .header{
    color: #A9229B;
}
.CompLib-Tooltip.light.pink .icon{
    stroke: #C7369E;
}
.CompLib-Tooltip.light.pink .iconX{
    fill: #C7369E;
}

.CompLib-Tooltip.light.green{
    background-color: #E7FFF3;
    color: #41A557;
}
.CompLib-Tooltip.light.green .header{
    color: #137A2A;
}
.CompLib-Tooltip.light.green .icon{
    stroke: #41A557;
}
.CompLib-Tooltip.light.green .iconX{
    fill: #41A557;
}

/* Toast */

.CompLib-Toast{
    font-family: "Inter";
    font-size: 1em;
    font-weight: 400;

    width: 384px;
    min-height: 78px;
    padding:16px;
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px !important;

    box-shadow: 0px 4px 6px -2px #0000000D;

    box-shadow: 0px 10px 15px -3px #0000001A;

}

.CompLib-Toast .header{
    font-weight: 500;
}

.CompLib-Toast.success{
    color: #065F46;
    background-color:#ECFDF5 ;  
}
.CompLib-Toast.success .header{
    color: #047857;
}

.CompLib-Toast.warning{
    color: #B45309;
    background-color: #FFFBEB;
}
.CompLib-Toast.warning .header{
    color: #92400E;
}

.CompLib-Toast.error{
    color: #B45309;
    background-color: #FEF2F2;
}
.CompLib-Toast.error .header{
    color: #92400E;
}

.CompLib-Toast.info{
    color: #1C51B9;
    background-color: #EFF6FF;
}
.CompLib-Toast.info .header{
    color: #1E40AF;
}

.CompLib-Toast.animated{
    animation: spawnAndMove1 3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
@keyframes spawnAndMove1 {
    0% {
        opacity: 0; 
        transform: translateX(0);
    }
    20% {
        opacity: 1; 
        transform: translateX(0);
    }
    80% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50vw); 
    }
}


/* Card */
.CompLib-Card{
    width: 386px;
    min-height: 208px;
    background-color: #F9FAFB;

    padding: 0 24px 32px 24px;

    display:flex;
    flex-direction: column;
    align-items: center;
    gap:32px;
    position:static;
}

.CompLib-Card:hover{
    box-shadow: 0px 4px 25px 0px #0000001A;

}

.CompLib-Card .header{
    color: #111827;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.CompLib-Card .text{
    color:#6B7280;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.CompLib-Card .icon{
    position:relative;
    top:-24px;
    width: 48px;
    height: 48px;
    gap: 0px;
    border-radius: 6px;
    opacity: 0px;
    box-shadow: 0px 4px 6px -2px #0000000D;

    box-shadow: 0px 10px 15px -3px #0000001A;

    display:grid;
    place-content: center;
    
}

.CompLib-Card .icon:hover{  
    box-shadow: 0px 4px 6px -2px #0000000D;
    box-shadow: 0px 10px 15px -3px #0000001A;

}

.CompLib-MagicPortal{
    position:absolute;
}

/*Testimonial */
.CompLib-Testimonial{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;

    width:90%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:48px;
    margin-block:30px;
}

.CompLib-Testimonial .text-container{
    padding-right:48px;
    display: flex;
    flex-direction: column;
    gap:24px;
}
.CompLib-Testimonial .text-container.noPic{
    align-items: center;
    justify-content: center;
    padding:0 50px 0 50px;
    text-align: center;

}

.CompLib-Testimonial .quotationMark{
    opacity:25%;
}

.CompLib-Testimonial .img{
    flex-shrink: 0;
    width: 384px;
    height: 464px;
    overflow: hidden;
    border-radius: 12px;
    margin-left: 58px;
    box-shadow: 0px 10px 10px -5px #0000000A;
    box-shadow: 0px 20px 25px -5px #0000001A;

}

.CompLib-Testimonial .img > img{
    height: auto;
    width: 100%;
    position: relative;
    top:-55px;
}

.CompLib-Testimonial .author{

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.CompLib-Testimonial .job{
    font-weight: 500;
}



