.CompLib-Badge{

}

.CompLib-Badge.pill{
    
}

.CompLib-Badge.red{
    color: ;
    background-color: ;    
}
.CompLib-Badge.green{
    color: ;
    background-color: ;    
}
.CompLib-Badge.yellow{
    color: ;
    background-color: ;    
}
.CompLib-Badge.gray{
    color: ;
    background-color: ;    
}
.CompLib-Badge.blue{
    color: ;
    background-color: ;    
}
.CompLib-Badge.indigo{
    color: ;
    background-color: ;    
}
.CompLib-Badge.purple{
    color: ;
    background-color: ;    
}
.CompLib-Badge.pink{
    color: ;
    background-color: ;    
}