.Header{
    background: linear-gradient(
            to bottom,
            #61dafb,  /* Light React blue */
            #1e90ff,  /* React's darker blue */
            #61dafb    /* Light React blue */
        ),
        repeating-linear-gradient(
            90deg,
            rgba(97, 218, 251, 0.3) 0px,  /* Light React blue */
            rgba(97, 218, 251, 0.3) 10px,
            rgba(30, 144, 255, 0.5) 10px,  /* Darker React blue */
            rgba(30, 144, 255, 0.5) 20px
        );
    background-size: 100% 100%, 100px 100px;
    box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.3),
                0 5px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid #0d74bc;  /* A strong blue border to match React's color theme */
    
    font-family: 'Roboto', sans-serif, monospace;  
    color: #fff; 
   

    padding-bottom: 4px;;
    display: grid;
    grid-template-areas:
    ". h ." 
    ". h s"
    ". a .";
    grid-template-rows: 1fr 1fr auto; 
    grid-template-columns: 30% auto 20%; 

    align-items: center;
    text-align: center;
}

.Header >h1{
    grid-area: h;
}
.Header >a{
    grid-area: a;
    font-family: Inter;
    font-size: 1rem;
    margin-bottom: 8px;
}
.Header >span{
    grid-area: s;
    font-size: 1.2rem;
    
}